h1 {
    color: #fff;
    background-color: #000;
    width: 545px;
    padding: 10px;
}

.grid {
    position: absolute;
    width: 560px;
    height: 300px;
    border: solid black 1px;
    margin-top: 80px;
}

.block {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: blue;
}

.user {
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: purple;
}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    display: block;
    background: red;
    border-radius: 50%;
}

#score {
    font-size: 20px;
}